body {
  font-family: system-ui, -apple-system, 'Segoe UI', BlinkMacSystemFont, Roboto,
  Helvetica, Arial, sans-serif;
}

#root {
  text-align: center;
}

.table-header {
  background-color: gray;
}

.table-body {
  background-color: aqua;
}